---
---
@charset "utf-8";

$tomhanks-bg: #ffc490;
$shinji-bg:   #9dddf9;

@import "bootstrap";

body {
  color: #fff;
}

.fa-inverse {
  color: $shinji-bg;
}

.brand-container {
  width: 100%;
}

.brand {
  display: block;
  margin: -2rem auto 1rem auto;
}

.song-container {
  padding-top: 1rem;
}

.social-links {
  padding-top: 1rem;
  text-align: right;
}

.social-link {
  color: $shinji-bg;
}
