---
---
@charset "utf-8";

$tomhanks-bg: #ffc490;
$shinji-bg:   #9dddf9;

@import "bootstrap";

body {
  color: #fff;
  height: 100vh;
  background: linear-gradient(to right, $shinji-bg 0%, $shinji-bg 50%, $tomhanks-bg 50%, $tomhanks-bg 100%);
}

.fa-inverse {
  color: $shinji-bg;
}

.brand-container {
  width: 100%;
}

.brand {
  display: block;
  margin: -2rem auto 1rem auto;
  transform: translateX(-50px);
}

.song-container {
  padding-top: 1rem;
}

.social-links {
  display: none;
  padding-top: 1rem;
  text-align: right;

  a:link .fa-circle {
    color: white;
  }

  a:visited .fa-circle {
    color: white;
  }

  a:hover .fa-circle {
    color: white;
  }

  a:active fa-circle {
    color: white;
  }
}

.site-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.content-container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
