---
---
@charset "utf-8";

$tomhanks-bg: #ffc490;
$shinji-bg:   #9dddf9;

$body-bg: linear-gradient(to right, $shinji-bg 0%, $shinji-bg 50%, $tomhanks-bg 50%, $tomhanks-bg 100%);

@import "bootstrap";

body {
  color: #fff;
  height: 100vh;
  background: $body-bg;
}

.brand-container {
  width: 100%;
}

@include media-breakpoint-up(sm) {
  .brand {
    transform: translateX(-50px);
  }
}

.brand {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: auto;
  height: auto;
}

.song-container {
  padding-top: 1rem;
}

.social-links {
  color: black;
  text-align: center;

  a:link {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  a:active {
    color: black;
    text-decoration: none;
  }
}

.snapcode {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 75%;
  max-width: 320px;
}

.site-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.content-container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
