---
layout: default
---
<div class="site-container">
    <div class="content-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 social-links">
                <a href="https://twitter.com/ydotsamuel">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://www.instagram.com/ydotsamuel/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-snapchat-ghost fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
            <div class="col-xs-12">
                <div class="brand-container">
                    <img class="brand" src="/img/ydot.png" />
                </div>
            </div>
            <div class="col-xs-6 song-container">
                {% include track.html track="282507629" color="9dddf9" id="shinji" %}
            </div>
            <div class="col-xs-6 song-container">
                {% include track.html track="283570713" color="ffc490" id="tomhanks" %}
            </div>
        </div>
    </div>
    </div>
</div>

