---
layout: default
---
<div class="site-container">
    <div class="content-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="brand-container">
                        <img class="brand" src="/img/ydot.png" />
                    </div>
                </div>
                <div class="col-xs-12">
                    {% include social-links.html %}
                </div>
                <div class="col-xs-6 song-container">
                    {% include track.html track="282507629" color="9dddf9" id="shinji" %}
                </div>
                <div class="col-xs-6 song-container">
                    {% include track.html track="283570713" color="ffc490" id="tomhanks" %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="snapcode" tabindex="-1" role="dialog">
        <img class="snapcode" src="img/snapcode.png" />
    </div>
</div>

